.comment-item {
    margin: 10px 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #120d4e;
}

.comment-content {
    display: flex;
}

.comment-form {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 10px 0 0;
}

.img-user {
    width: 40px;
}

.comment-form-not-auth {
    color: #ff7043;
}

.comment-text {
    height: 70px;
    margin-bottom: 10px;
    padding: 5px;
    outline: 0;
    resize: none;
    border: solid 0.7px #00000038;
    border-radius: 3px;
}

.comment-bt {
    width: 100%;
}
