.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    margin: 40px 0 100px;
}

.profile-description-header {
    display: flex;
}

.follow-button {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #3ca18b;
    color: #fff;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    margin-left: 2rem;
}

.follow-button:hover {
    opacity: 0.8;
}

.follow-button-img {
    fill: currentColor;
    margin-right: 0.8rem;
}

.profile-social-media-link {
    color: #767676;
    display: flex;
    align-items: center;
}

.profile-social-media-link:hover {
    color: #000;
}

.profile-social-media-icon {
    fill: currentColor;
    margin-right: 0.5rem;
}

.profile-stats {
    display: flex;
    flex-direction: column;
}

.profile-stats-item {
    margin-right: 10px;
}

.profile-description {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.profile-no-photos-img {
    display: block;
    max-width: 300px;
    min-height: 225px;
    margin: 0 auto;
}

.total-like {
    margin-left: 1px;
    width: 17px;
    height: 15px;
}

.profile-total-like {
    display: flex;
    align-items: center;
}
