.photo-card {
    padding: 1rem;
    border: 1px solid #cacaca;
}

.photo-card_small {
    max-width: 800px;
}

.photo-card__content-top {
    display: flex;
    justify-content: space-between;
}

.photo-card__time {
    font-size: 0.8rem;
    color: #838383;
}

.photo-card__likes {
    margin-left: 1rem;
}

.photo-card__likes-label {
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: opacity ease-in;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
}

.photo-card__likes-label:hover {
    opacity: 1;
    color: #000;
}

.photo-card__likes-checkbox {
    display: none;
}

@media (max-width: 425px) {
    .photo-card {
        border: none;
        padding: 0;
    }
    .photo-card__content {
        padding: 1rem;
    }
    .photo-card__content-top {
        flex-direction: column;
    }
    .photo-card__likes {
        margin: 1rem 0 0;
    }
}
